{:lein true

 :dev-http
 {8000 "target"}

 :builds
 {:skidder
  {:target     :browser
   :output-dir "target/js"
   :asset-path "/js"
   :modules    {:base    {:entries [cljs.core skidder.core]}
                :example {:entries    [skidder.examples.page]
                          :depends-on #{:base}}}}}}
